<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<nav class="navbar">
        {% load static %}
        <img src="{% static '/img/logo.png' %}" alt="My image">
        <ul class="links-container">
            <li class="link-item"><a href="{% url 'home' %}" class="link">Home</a></li>
            <li class="link-item"><a href="{% url 'about' %}" class="link">About</a></li>
            <li class="link-item"><a href="{% url 'contact' %}" class="link">Contact Us</a></li>
            <li class="link-item"><a href="{% url 'blog' %}" class="link">My Blogs</a></li>
            <li class="link-item"><a href="{% url 'user_logout' %}" class="link">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>New Post</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
